.Shop {
  width: 80%;
  height: calc(100vh - 50px - 50px - 40px);
  margin: 20px auto;
  .cart-icon {
    width: 60px;
    height: 60px;
    position: fixed;
    top: 4rem;
    right: 1rem;
    cursor: pointer;
    .cart-num {
      width: 20px;
      height: 20px;
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      color: rgb(207, 188, 15);
      display: grid;
      place-items: center;
    }
  }
}
