.Cart {
  position: absolute;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100vw;
  background-color: rgba(0, 0, 0, 0.7);
  .container {
    position: absolute;
    top: 30%;
    left: 50%;
    transform: translate(-50%, -30%);
    width: 600px;
    height: 400px;
    background-color: #fff;
    animation: showCart 1s ease-in-out;

    @keyframes showCart {
      from {
        opacity: 0;
        top: 70%
      }
      to {
        opacity: 1;
        top: 30%
      }
    }
    .close-btn {
      position: absolute;
      top: .5rem;
      right: .5rem;
      cursor: pointer;
    }
  }
}
