.CartList {
  padding: 1px;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  h2 {
    display: grid;
    place-items: center;
    background-color: rgb(49, 207, 141);
    height: 40px;
    width: 100%;
    color: white;
  }
  .wrapper {
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    gap: 20px;
  }
  .totalPrice {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-weight: bold;
    font-size: 1.5rem;
    background-color: rgb(49, 207, 141);
    height: 40px;
    width: calc(100% - 2px);
    padding: 0 10px;
    margin: 0 1px 1px 1px;
    color: white;
    margin-top: 30px;
  }
  .emptyCart {
    position: fixed;
    bottom: 0;
    left: 0;
  }
}
