.CartItem {
  display: flex;
  gap: 30px;
  align-items: center;
  justify-content: space-between;
  height: 30px;
  background-color: rgb(247, 243, 243);
  padding: 0 10px;
  font-size: 1.5rem;
  .product-name {
    min-width: 300px;
    white-space: nowrap;
  }
  .product-info {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 20px;
    min-width: 400px;
    margin-left: auto;
    .col {
      width: 150px;
      display: flex;
      align-items: center;
      justify-content: space-around;
    }
    .price {
      justify-content: space-evenly;
    }
    .sum {
      justify-content: flex-end;
    }
  }
}
svg {
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

@media screen and (max-width: 1100px) {
  .CartItem {
    font-size: 1rem;
    gap: 5px;
    .product-name {
      min-width: 0;
      white-space: nowrap;
    }
    .product-info {
      min-width: 0;
      gap: 5px;
      margin-left: auto;
      .col {
        width: auto;
        white-space: nowrap;
      }
    }
  }
}
